@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
  margin:0;
  padding:0;
}
div{
  vertical-align:top;
}
.boldspan{
  font-weight:bold;
}
header{
  position:fixed;
  top:0;
  width:100%;
  height:6vh;
  padding-top:2vh;
  box-sizing:border-box;
}

header a{
  margin-right:4vw;
  float:right;
  font-size:1.5em;
  color:black;
  text-decoration:none;
}

.container{
  width:100%;
  height:100vh;
  box-sizing:border-box;
  font-size:0;
  top:-6vh;
}

.section{
  display:inline-block;
  box-sizing:border-box;

}

.pic{
  width:35%;
  height:100%;
  background-color:lightgray;
}
.pic img{

    width:calc(0.75 * 35vw);
    margin-top:23vh;
    margin-left:calc(0.125 * 35vw);
}

.text{
  width:calc(65% );
  height:100%;
  background-color:#5D9AD6;
  font-size:1.9vh;
  padding:10vmax;
  padding-top:6vh;
  padding-left:6vw;
  color:#E5EBF0;
}
.text p .text h1{
  margin:0;
  padding:0;
}

.text h1{
  font-family:"Noto Rashi Hebrew";
  font-weight:600;
}
.text p .text li{
  font-family: "Merriweather";
  padding:1vmin;
}
