<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
  </head>
  <body>
    <header>
      <h1>About Me</h1>
      <a href="{{url_for('home')}}" class="nostylelink">home</a>
    </header>
    <main>
      <p id="content">
        I am a 17 year old Lower Sixth-Form A-Level Student in the UK studying A-Level Maths, Further Maths, Physics and Economics
        as well as completing an EPQ. I take a very large interest in programming and in finance particularly
        and find the intersection of the two very very engaging. I can programme in numerous languages including:
        Python, C++, C#, Java and others. Furthermore, I enjoy the field of machine learning greatly, despite
        its myriad complexities and spend lots of my free time learning and implementing machine learning
        algorithms and concepts such as K-means classification and Artificial Neural Networks.
        In terms of finance, whilst I find all areas interesting, somewhat predictably, I take a specific
        interest in public equities. However, this is probably due more to the relative ease of participation
        than to any sort of intellectual preference. I am incredibly eager to gain more professional
        experience in both the fields of technology and programming, and finance. Moreover, I consistently
        work and practice myself in both fields and so would relish the opportunity to make good use of my
        skills.
      </p>

    </main>
  </body>
</html>
